<h1>Lista de Compras</h1>

<section>
  <h2>Carnes</h2>
  <ul>
    <li>Res</li>
    <li>Cerdo</li>
    <li>Pescado</li>
  </ul>
</section>

<section>
  <h2>Frutas</h2>
  <ul>
    <li>Uvas</li>
    <li>Fresas</li>
    <li>Sandia</li>
    <li>Banana</li>
    <li>Manzana</li>
  </ul>
</section>

<section>
  <h2>Verduras</h2>
  <ul>
    <li>Lechuga</li>
    <li>Tomate</li>
    <li>Cebolla</li>
    <li>Pimientos</li>
    <li>Champiñones</li>
    </ul>
</section>

<section>
  <h2>Dulces</h2>
  <ul>
    <li>Gomitas</li>
    <li>Chupetes</li>
    <li>Chocolates</li>
    <li>Oreos</li>
  </ul>
</section>